@import "style/reset";
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 100;
}
@import "virables";
@import "mixins";
@import "style/header";
@import "style/s-1";
@import "style/s-2";
@import "style/s-3";
@import "style/s-4";
@import "style/footer";
