.s-1 {
  .container {
    margin: 0 auto;
    background: url("../../images/bg img.jpg") no-repeat;
    background-position: left top;
    background-size: 100% auto;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 720px;
    background-attachment: fixed;
    .s-1-board {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 200px;
      }
      .board-txt {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 60px;
        }
        button {
          border-radius: 50px;
          font-size: 1em;
          padding: 0.5em 2.5em;
          margin: 0.25em;
          background: none;
          border: 2px solid #ffffff;
          a {
            font-size: 1.75rem;
            font-weight: 300;
            padding: 10px 60px;
            color: white;
          }
          a:hover {
            background: transparent;
            color: #666666;
            transition: all 0.3s ease;
          }
        }
        button:hover {
          background: transparent;
          background-color: white;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
